{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>SecureWitness</title>
  </head>

  <body>
  <!--<form action="{% url 'SecureWitness:folder' %}" method="post">-->
    {% block body_block %}
    <div class="hero-unit">
      <h3>{{ curr_folder}} </h3>
        <!--<div class="container-fluid">-->
        {% if curr_folder %}
          <p>Reports in this folder:</p>
          <ul>
	        {% for report in folder_reports %}
	        <li><a href="/SecureWitness/report/{{ report.id }}">{{ report }}</a></li>
        	{% endfor %}
           </ul>

        <p>Reports available to add to this folder: </p>
        <form id="add_to_folder_form" method="post" action="/SecureWitness/folder/{{ curr_folder }}/"
                enctype="multipart/form-data">
                {% csrf_token %}

                {{ add_to_folder_form.as_p }}

            <input type="submit" name="submit_add_to_folder" value="Add Report" />
              </form>

        <p>Change folder name: </p>
        <form id="change_folder_name_form" method="post" action="/SecureWitness/folder/{{ curr_folder }}/"
              enctype="multipart/form-data">
    	        {% csrf_token %}

	            {{ change_folder_name_form.as_p }}

	        <input type="submit" name="submit_change_name" value="Change" />
         </form>
            <a href = "/SecureWitness/deleteFolder/{{ folder_id }}">Delete Folder and Contained Reports</a>
        {% endif %}
    </div>
    <!--</div>-->

    {% endblock %}

  </body>
</html>
