{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>SecureWitness</title>
  </head>

  <body>
    {% block body_block %}
    <div class="hero-unit">
      {% if user.is_authenticated %}
      {% if files %}
      <ul>
	{% for file in files %}
	<li><a href="{{ file.file.url }}">{{ file.title }}</a></li>
	{% endfor %}
      </ul>
      {% else %}
      <p>No files.</p>
      {% endif %}
      {% else %}
      {% endif %}

    </div>
    {% endblock %}
  </body>
</html>

