{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>SecureWitness</title>
  </head>

  <body>
    {% block body_block %}
    <div class="hero-unit">
      {% if user.is_authenticated %}
      <div class="input-group">
	<input type="text" class="form-control" placeholder="Search for...">
	<span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
	</span>
      </div><!-- /input-group -->
      <h2>My Reports</h2>
      {% if reports %}
      <ul>
	{% for report in reports %}
	<li><a href="/SecureWitness/report/{{report.title}}">{{ report.title }}</a></li>
	{% endfor %}
      </ul>
      {% else %}
      <p>No files.</p>
      {% endif %}
      <h2>My Groups</h2>
      {% if groups %}
      <ul>
	{% for group in groups %}
	<li><a href="/SecureWitness/group/{{ group.name }}">{{ group.name }}</a></li>
	{% endfor %}
      </ul>
      {% else %}
      <p>No groups.</p>
      {% endif %}
      <h2>Promote To Admin</h2>
      
      {% if admin_user_form.queryset.count %}
      <form id="admin_user_form" method="post" action="/SecureWitness/" enctype="multipart/form-data">
	{% csrf_token %}
	{{ admin_user_form.as_p }}

	<input type="submit" name="submit" value="Promote" />
      </form>
      Not empty.
      {% else %}
      There are no non-admin users to promote.
      {% endif %}
      
      {% else %}
      This is the home page.
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>

