{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>SecureWitness</title>
  </head>

  <body>
    {% block body_block %}
    {% if report %}
	
        <ul>
        {% for rep in report %}
		<div class="hero-unit">
			<h2>{{rep.title}}</h2>
		</div>
			Author: {{rep.authorName}} </br>
        	Upload Date: {{rep.timestamp}} </br>
			Subject: {{rep.shortDesc}} </br>
			Description: {{rep.detailsDesc}} </br>
			{% if rep.dateOfIncident %}
			    Incident Date: {{rep.dateOfIncident}}</br>
			{% endif %}
			{% if rep.locationOfIncident %}
			    Location: {{rep.locationOfIncident}}</br>
			{% endif %}
			{% if rep.keywords %}
				Keywords: {{rep.keywords}}</br>
			{% endif %}
			
        {% endfor %}
    	
        {% if files %}
				Files: 
				{% for file in files %}
				    <a href="{{file.file}}"> {{file.file}}</a></br>
				{% endfor %}
		{% endif %}
		</ul>
    {% else %}
      <p>No report.</p>
      
	{% endif %}
    {% endblock %}
  </body>
</html>
