{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>SecureWitness</title>
  </head>

  <body>
    {% block side_block %}
    {% endblock %}
  <!--<form action="{% url 'SecureWitness:group' %}" method="post">-->
    {% block body_block %}
    <div class="hero-unit">

      <center> <h1>{{ group.name }} </h1> </center>
	  {% if group %}
			

          <p>Members:</p>
          <ul>
	        {% for member in members %} <!-- gets all members in the group -->
	        <li><a href="/SecureWitness/userportal/{{ member }}">{{ member }}</a></li>
        	{% endfor %}
           </ul>

            {% if loggedin == 1 %}
                <p>Reports:</p>
                {% for report in reports %}
                <li><a href="/SecureWitness/report/{{ report.id }}">{{ report.title }}</a> ({{ report.authorName }})</li>
                {% endfor %}

                <p>Requests:</p>
                {% for request in requests %}
                <li><a href="/SecureWitness/userportal/{{ request.requester }}">{{ request.requester }}</a></li>
                {% endfor %}
                
                <form id="email_link_form" method="post" action="/SecureWitness/group/{{ group.name }}/email/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ email_link_form.as_p }}
                    <input type="submit" name="submitEmailLink" value="Email Members in {{ group.name }}" />
                </form>
                
                <form id="leave_group_form" method="post" action="/SecureWitness/group/{{ group.name }}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ leave_group_form.as_p }}
                    <input type="submit" name="submitLeave" value="Leave {{ group.name }}" />
                </form>

            {% else %}
                {% if request_already_made %}
                    You have requested access to this group.
                {% else %}
                    <a href="/SecureWitness/group/{{ group.name }}/request">Request to Join {{ group.name }}</a>
                {% endif %}
            {% endif %}
        {% else %}
        <p>No members in this group.</p>
         {% endif %}
      
    </div>
    <!--</div>-->
    <!--<div class="container-fluid">-->
        {% if admin_status %}
        <div class=pull-right>
        <h3>Add Member to {{ group.name }}</h3>
	<form id="add_member_form" method="post" action="/SecureWitness/group/{{ group.name }}/" enctype="multipart/form-data">
            {% csrf_token %}
	    {{ add_member_form.as_p }}
	    <input type="submit" name="submitAdd" value="Add" />
	</form>
       
    
        <h3>Remove Member from {{ group.name }}</h3>
	<form id="remove_member_form" method="post" action="/SecureWitness/group/{{ group.name }}/" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ remove_member_form.as_p }}
	    <input type="submit" name="submitRemove" value="Remove" />
	</form>
        </div>
        {% endif %}
        
    
	
	{% if loggedin == 1 %}
		<h2> Comments </h2>
		<h4> See what group members have to say or add your own comment below: </h4>
		{% if comments %}
			
			{% for comment, username in comments %}
				{% if userID == comment.authorId_id %}
					
					<h5> From <a href = "/SecureWitness/userportal/{{username}}">me:</a> </h5>
				{% else %}
					<h5> From <a href = "/SecureWitness/userportal/{{username}}">{{comment.authorName}}:</a></h5>
				{% endif %}
				{{comment.comment}}
				</br>
				</br>
			{% endfor %}
		{% else %}
			No comments.
		{% endif %}
		<form id = "comment_form" method = "post" action = "/SecureWitness/groupComment/{{ group.name }}/" enctype="multipart/form-data">
			{% csrf_token %}
			{{comment_form.comment}} </br>
			{% if comment_form %}
				<input type="submit" name = "submitComment" value = "Send Comment">
			{% endif %}
		</form>
	{% endif %}
        

    </div>
    {% endblock %}
  <!--</form>-->
  </body>
</html>
