{% extends 'SecureWitness/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ curr_user }}'s Portal</title>
  </head>

  <body>
    {% block body_block %}
        <div class="hero-unit">
            This is the user portal of <u>{{ curr_user }}</u>.
        {% if granted %}
            {% if no_auth %}
                <p>You're not authorized to grant this request.</p>

                {% else %}
                <p>You have granted {{ curr_user }}'s request to join {{ group }}. {{ curr_user }} can now see all files and folders in {{ group }}.</p>
                 <a href="/SecureWitness/group/{{ group }}">Return to the group page.</a>
            {% endif %}
      {% else %}

      <form id="grant_form" method="post" action="/SecureWitness/userportal/{{ curr_user }}/"
	    enctype="multipart/form-data">
    	{% csrf_token %}

	<!-- as_p method wraps each element in a paragraph element.
	     Each element appears on a new line. -->
	    {{ grant_form.as_p }}

	<input type="submit" name="submit" value="Grant Request" />
      </form>
        {% endif %}
    </div>
    {% endblock %}
  </body>
</html>
